.card {
  padding: 1rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f;
  display: flex;
  flex-direction: column;
  width: 23rem;
}

.cardImg {
  max-width: 100%;
  height: auto;
}

.cardTitle {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  border-bottom: 0.15rem dotted #00000080;
}

.cardText {
  margin: 0;
  height: 5rem;
  font-size: 1rem;
  overflow-y: scroll;
}
