.card {
  margin: 0.5rem;
  padding: 0.8rem;
  background-color: aliceblue;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 #00000029, 0 2px 10px 0 #0000001f;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex: 1 1 31%;
  min-width: 8rem;
}
.card:hover {
  border: 0.125rem dotted var(--black);
}

.cardTitle {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  border-bottom: 0.15rem dotted #00000080;
  word-break: break-all;
}

.a {
  color: inherit;
  text-decoration: none;
}
