.fooBox {
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.price {
  margin-left: 2%;
  color: var(--orange);
  font-weight: bold;
  font-size: 1.5rem;
}

.input {
  margin-inline: 0.2rem;
  width: 2rem;
  border-radius: 5px;
  border-color: var(--blue);
  text-align: center;
}

.button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 20px;
  border-color: var(--blue);
}

.button:hover,
.button:active {
  background-color: var(--blue);
  color: var(--white);
}
