.navbar {
  width: 100vw;
  height: auto;
  background-color: var(--black);
  display: flex;
  flex-flow: row, wrap;
  justify-content: center;
  align-items: center;
}

.aLink {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 5rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.15s ease;
  border-radius: 8px;
}

.aLink:hover,
.aLink:focus,
.aLink:active {
  background-color: var(--green);
  color: var(--black);
}

.basketLink {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 5rem;
  color: var(--green);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.15s ease;
  border-radius: 8px;
}

.basketLink:hover,
.basketLink:focus,
.basketLink:active {
  background-color: var(--orange);
  color: var(--white);
}
