.light {
  padding: 0.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.dark {
  padding: 0.5rem;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: white;
  background-color: var(--night);
}

@media only screen and (orientation: landscape) {
  .light,
  .dark {
    padding-left: 8rem;
  }
}
