.box {
  min-width: 16rem;
  max-width: 32rem;
  display: flex;
  flex-flow: column;
  position: relative;
}
.img {
  display: block;
  height: auto;
  width: 100%;
}

.outerbox {
  display: flex;
  flex-flow: row;
}

.title {
  margin: 0.5rem 0 0.5rem 0;
  font-size: 1.15rem;
  font-weight: bold;
  border-bottom: 0.15rem dotted #00000080;
  word-break: break-all;
}

.description {
  padding: 1rem;
  width: 100%;
}

.text {
  word-break: break-all;
}

.unsplash {
  padding: 0.3rem 0 0 0.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  writing-mode: vertical-lr;
}
