.box {
  padding: 3rem;
  min-width: 50%;
  border: 2px solid var(--orange);
  border-radius: 1rem;
}

.h1 {
  margin-top: 0;
  text-align: center;
}

.ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.li {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.remove {
  margin-inline-end: 0.5rem;
  background-color: var(--red);
  color: var(--white);
  font-weight: 900;
  width: 1.7rem;
  height: 1.7rem;
  border: 0;
  border-radius: 100%;
}
.remove:hover {
  cursor: pointer;
}
