.box {
  min-width: max-content;
  height: fit-content;
  padding: 3rem;
  width: 100%;
}

.title {
  text-align: center;
}

.ul {
  width: 100%;
  list-style: none;
  padding-left: 0;
}
.li {
  margin: 0.25rem;
  padding: 0.15rem;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
}

.remove {
  margin-inline-end: 0.5rem;
  background-color: var(--red);
  color: var(--white);
  font-weight: 900;
  width: 1.7rem;
  height: 1.7rem;
  border: 0;
  border-radius: 100%;
}
.remove:hover {
  cursor: pointer;
}

.a {
  color: var(--black);
  font-size: xx-large;
  font-weight: 500;
}
