:root {
  --white: #f6f5f4;
  --black: #241f31;
  --green: #57e389;
  --orange: #e66100;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
.layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: auto;
  width: auto;
}
.main {
  margin-left: 6rem;
  padding: 1rem;
  height: 100vh;
  width: 100vw;
}
.main h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 2rem 0;
}
.card-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar {
  position: fixed;
  padding-top: 0.8rem;
  width: auto;
  height: 100vh;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.sidebar > a {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 5rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.15s ease, border-color 0.15s ease;
  border: var(--white) solid 2px;
  border-radius: 8px;
}
.sidebar > a:hover,
.sidebar > a:focus,
.sidebar > a:active {
  border-color: var(--green);
  background-color: var(--green);
  color: var(--black);
}

@media (max-width: 600px) {
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .main {
    margin-left: 0;
    margin-top: 4rem;
  }
  .sidebar {
    padding: 0;
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .card-box {
    flex-direction: column;
    justify-content: center;
  }
}
