:root {
  --white: #f6f5f4;
  --black: #241f31;
  --blue: #1c71d8;
  --green: #57e389;
  --orange: #e66100;
  --red: #e70410;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
.home {
  padding: 1rem;
  width: 100%;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
