:root {
  --white: #f6f5f4;
  --black: #241f31;
  --blue: #1c71d8;
  --green: #57e389;
  --orange: #e66100;
  --red: #e70410;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
.home {
  width: 100%;
}
.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main {
  padding: 1rem;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.card-box {
  max-width: 72rem;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
