:root {
  --white: #f6f5f4;
  --black: #241f31;
  --green: #57e389;
  --orange: #e66100;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-size: 1rem;
}
* {
  box-sizing: border-box;
}
.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.main {
  padding: 1rem;
  height: 100%;
  width: 100%;
}

.card-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sidebar {
  width: 100vw;
  height: auto;
  background-color: var(--black);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.sidebar > a {
  margin: 0.5rem;
  padding: 0.8rem;
  width: 5rem;
  color: var(--white);
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.15s ease;
  border-radius: 8px;
}
.sidebar > a:hover,
.sidebar > a:focus,
.sidebar > a:active {
  background-color: var(--green);
  color: var(--black);
}
